Django==3.0.3
psycopg2-binary==2.8.4
django-crispy-forms==1.8.1
django-allauth==0.41.0
Pillow==7.0.0
celery==4.4.1
redis==3.4.1
django-celery-results==1.2.1
boto3==1.12.22
django-storages==1.9.1
django-debug-toolbar==2.2