{% extends '_base.html' %}
{% load crispy_forms_tags %}
{% block title %}Order List{% endblock title %}
{% block content %}
<div class="container">
    <div class="card shopping-cart rounded">
        <div class="card-header bg-dark text-light">
            <i class="fas fa-list-alt"></i>
            Order List
            <a class="btn btn-outline-info btn-sm pull-right" href="{% url 'book_list' %}">Back</a>
            <div class="clearfix"></div>
        </div>
        <div class="card-body">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th scope="col">No</th>
                    <th scope="col">Order ID</th>
                    <th scope="col">Order Date</th>
                    <th scope="col">Order Status</th>
                    <th scope="col">Total Price</th>
                    <th scope="col"></th>
                </tr>
                </thead>
                <tbody>
                {% for order in all_orders %}
                <tr>
                    <th scope="row">{{ forloop.counter }}</th>
                    <td>{{ order.order_id }}</td>
                    <td>{{ order.order_date }}</td>
                    <td>{{ order.order_status }}</td>
                    <td>{{ order.order_price }}</td>
                    <td>
                        {% if order.order_status == 'PND' and order.order_price == 0 %}
                        <a class="text-danger" href="{{ order.get_delete_url }}"><i class="far fa-trash-alt"></i></a>
                        <a class="text-primary" href="{{ order.get_absolute_url }}"><i
                                class="fas fa-info-circle"></i></a>
                        {% elif order.order_status == 'PND' and order.order_price > 0 %}
                        <a class="text-warning" href="{{ order.get_absolute_url }}"><i class="fas fa-edit"></i></a>
                        <a class="text-primary" href="{{ order.get_absolute_url }}"><i
                                class="fas fa-info-circle"></i></i></a>
                        {% elif order.order_status != 'PND' %}
                        <a class="text-primary" href="{{ order.get_absolute_url }}"><i
                                class="fas fa-info-circle"></i></i></a>
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="p-3 mb-2 bg-info text-white">
        <p>
            To delete a pending order, please first delete the order items in the order.
            Only an order without an order item can be deleted. To cancel an order that
            has been paid for, please send email to customer services and a member of our
            helpful staff will assist you with cancellation and arranging a refund.
        </p>
        <p>
            Please note orders that have been dispatched can only be cancelled once the books
            are returned in its original package. A refund will take 5 working days to appear
            in your bank.
        </p>

    </div>
</div>


{% endblock content %}