{% extends '_base.html' %}
{% load crispy_forms_tags %}
{% block title %}Order Details{% endblock title %}
{% block content %}
<h2>Order Details</h2>
<div>
    <p>Order ID: {{ object.order_id }}</p>
    <p>Customer Details: {{ object.customer_id }}</p>
    <p>Order status: {{ object.order_status }}</p>
    <p>Order Date: {{ object.order_date }}</p>
    <!--    <p>Order items: {{ object.order_items }}</p>-->
</div>
<div>
    <h3>Order Items</h3>
    <!--    {% for item in object.order_items %}-->
    <!--    <div>-->
    <!--        <p>Order item id: {{ item.id }}</p>-->
    <!--        <p>Book ordered: {{item.book }}</p>-->
    <!--        <p>Quantity ordered: {{ item.quantity }}</p>-->
    <!--        <p>Price: {{ item.price }}</p>-->
    <!--    </div>-->
    <!--    {% endfor %}-->
</div>
<h5>Total price: {{ object.order_price }}</h5>

{% endblock content %}