{% extends '_base.html' %}
{% load crispy_forms_tags %}
{% block title %}Order List{% endblock title %}
{% block content %}
<div class="container">
    <div class="card shopping-cart rounded">
        <div class="card-header bg-dark text-light">
            <i aria-hidden="true" class="fa fa-shopping-cart"></i>
            Order List
            <a class="btn btn-outline-info btn-sm pull-right" href="{{ next }}">Back</a>
            <div class="clearfix"></div>
        </div>
        <div class="card-body">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th scope="col">No</th>
                    <th scope="col">Order ID</th>
                    <th scope="col">Order Date</th>
                    <th scope="col">Order Status</th>
                    <th scope="col">Total Price</th>
                </tr>
                </thead>
                <tbody>
                {% for order in all_orders %}
                <tr>
                    <th scope="row">{{ forloop.counter }}</th>
                    <td><a href="{{ order.get_absolute_url }}">{{ order.order_id }}</a></td>
                    <td>{{ order.order_date }}</td>
                    <td>{{ order.order_status }}</td>
                    <td>{{ order.order_price }}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

</div>


{% endblock content %}