{% extends "_base.html" %}
{% load static %}
{% block title %}Home{% endblock title %}
{% block content %}
<h1>Welcome to our Home page</h1>
{% if user.is_authenticated %}
Hi {{ user.email }}
<p><img class="bookcover" src="{% static 'images/book1.jpg' %}"></p>
<p><a href="{% url 'account_logout' %}">Log Out</a></p>
{% else %}
<p>You are not Logged in </p>
<ul>

    <li><a href="{% url 'account_login' %}">Log In</a></li>
    <li><a href="{% url 'account_signup' %}">Sing up</a></li>
</ul>
{% endif %}
{% endblock content %}